@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}


body {
    color: black;
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(36, 36, 36);
}

a {
    text-decoration: none;
    color: inherit;
}

.custom-nav {
    background: linear-gradient(to bottom, rgba(207, 207, 207, 0.185), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
}

.top-custom {
    color: white;
    height: 100vh;
    width: 100vw;
    background-blend-mode: multiply;
    background-image: url("https://res.cloudinary.com/cfcloudstorage/image/upload/v1675110340/media/T_srjaox.png"), url(https://images.unsplash.com/photo-1563191911-e65f8655ebf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}


.git-icon,
.linked-icon,
.email-icon {
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
}

.git-icon:hover {
    cursor: pointer;
    color: rgb(102, 56, 230);

}

.linked-icon:hover {
    cursor: pointer;
    color: #0072b1;
}

.email-icon:hover {
    cursor: pointer;
    color: rgb(163, 66, 255);
}

.intro-text {
    color: rgb(219, 219, 219);
}

/* .gradient-overlay {
    height: 100px;
    width: 100px;
    opacity: 0.1;
    background: url(https://res.cloudinary.com/cfcloudstorage/image/upload/v1675115784/media/gradient_qdwfgb.png);
    overflow: hidden;
    pointer-events: none;

} */

.about-section {
    width: 100vw;
    /* height: 50vh; */
    color: rgb(219, 219, 219);
}

.skills-section {
    background-color: rgb(29, 29, 29);
    width: 100vw;
    /* height: 50vh; */
    color: rgb(219, 219, 219);
}

.projects-section {
    width: 100vw;
    /* height: 100vh; */
    color: rgb(219, 219, 219);
    background-color: rgb(37, 37, 37);
}

.custom-link {
    color: transparent;
    font-size: 1.3rem;
    background-color: white;
    background-image: linear-gradient(to right, #b12ba1, #4f68b3);
    background-size: 100%;
    background-clip: text;
    stroke: 1px solid white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;
}

.custom-link:hover {
    color: transparent;
    font-size: 135%;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255, 0, 221, 0.4);
}

.image-me {
    transition: all 0.5s ease-in-out;
    opacity: 0.6;
    filter: grayscale()
}

.image-me:hover {
    filter: none;
}

.skill-icon {
    width: 6rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.skill-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.custom-desc {
    font-size: 0.8rem;
}

@media only screen and (max-width: 530px) {
    .custom-nav {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 430px) {
    .custom-nav {
        display: none;
    }
}